global
    log /dev/log len 4096 local0
    log /dev/log len 4096 local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 20000 # raising in the defaults without raising global makes no sense (!!)

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
    # Keep DH params size at 1024 for Java 6 HTTPS clients
    tune.ssl.default-dh-param 1024

defaults
    log global
    option dontlognull
    maxconn 20000 # raising in the defaults without raising global makes no sense (!!)
    timeout connect 5000
    timeout check 30000
    timeout client <%= node['gitlab-haproxy']['timeout_client'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server'] %>
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/429.http
    errorfile 408 /etc/haproxy/errors/400.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/500.http
    errorfile 503 /etc/haproxy/errors/500.http
    errorfile 504 /etc/haproxy/errors/500.http

listen stats
    bind <%= node['gitlab-haproxy']['listen_address'] %>:7331
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:<%= @admin_password %>
    stats admin if TRUE

frontend pages_http
    bind <%= node['gitlab-haproxy']['listen_address'] %>:80
    mode http
    log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    acl doc_gitlab_com hdr_beg(host) -i doc.gitlab.com
    http-request redirect location https://docs.gitlab.com%[path] if doc_gitlab_com
    use_backend pages_http
    <%= node['gitlab-haproxy']['pages']['http_custom_config'] %>

frontend pages_https
    bind <%= node['gitlab-haproxy']['listen_address'] %>:443
    mode tcp
    log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tw/%Tc/%Tt\ %B\ %U\ %ts\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq
    use_backend pages_https
    <%= node['gitlab-haproxy']['pages']['https_custom_config'] %>

backend pages_http
    mode http
    balance source
    hash-type consistent
    option forwardfor
    <% node['gitlab-haproxy']['pages']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:1080 check inter 5000 fall 3
    <% end %>

backend pages_https
    mode tcp
    balance source
    hash-type consistent
    <% node['gitlab-haproxy']['pages']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:1443 check inter 5000 fall 3
    <% end %>
