global
    log /dev/log len 4096 local0
    log /dev/log len 4096 local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 20000 # raising in the defaults without raising global makes no sense (!!)

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
    # Keep DH params size at 1024 for Java 6 HTTPS clients
    tune.ssl.default-dh-param 1024

defaults
    log global
    option dontlognull
    maxconn 20000 # raising in the defaults without raising global makes no sense (!!)
    timeout connect 5000
    timeout check 30000
    timeout client <%= node['gitlab-haproxy']['timeout_client'] %>
    timeout server <%= node['gitlab-haproxy']['timeout_server'] %>
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/429.http
    errorfile 408 /etc/haproxy/errors/400.http
    errorfile 429 /etc/haproxy/errors/429.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/500.http
    errorfile 503 /etc/haproxy/errors/500.http
    errorfile 504 /etc/haproxy/errors/500.http

listen stats
    bind <%= node['gitlab-haproxy']['listen_address'] %>:7331
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:<%= @admin_password %>
    stats admin if TRUE

frontend rails
    bind <%= node['gitlab-haproxy']['listen_address'] %>:443 ssl crt /etc/haproxy/ssl/gitlab.pem no-sslv3
    mode http
    timeout client-fin <%= node['gitlab-haproxy']['timeout_client_fin'] %>
    log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
    capture request header User-Agent len 64
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-SSL %[ssl_fc]

    <%= node['gitlab-haproxy']['backend']['rails']['custom_config'] %>

    acl rails_rate_limit_whitelist src <%= node['gitlab-haproxy']['backend']['rails']['rate_limit_whitelist'] %>

    use_backend rails if rails_rate_limit_whitelist
    default_backend rails_rate_limit

frontend rails_rate_limit
    bind 127.0.0.1:<%= node['gitlab-haproxy']['backend']['rails']['rate_limit_frontend_port'] %> accept-proxy
    rate-limit sessions <%= node['gitlab-haproxy']['backend']['rails']['rate_limit_sessions_per_second'] %>
    default_backend rails

backend rails_rate_limit
    mode http
    server localhost 127.0.0.1:<%= node['gitlab-haproxy']['backend']['rails']['rate_limit_frontend_port'] %> send-proxy

backend rails
    mode http
    balance roundrobin
    option forwardfor
    timeout server-fin <%= node['gitlab-haproxy']['timeout_server_fin'] %>
    option httpchk GET / HTTP/1.1\r\nHost:\ <%= node['gitlab-haproxy']['backend']['rails']['httpchk_host'] %>
    <% node['gitlab-haproxy']['backend']['rails']['servers'].each do |name, ip| %>
    server <%= name %> <%= ip %>:443 check check-ssl inter 5000 fall 3 ssl verify none
    <% end %>
